:root {
  --primary-color: #1b1b1b;
  --bg-color: #FAF8F2;
  --light-grey-color: #B5B4B4;
  --light-green-color: #93DC17;
  --green-color: #047A45;
  --secondary-green-color: #E1EBE0;
  --yellow-color: #F8C617;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  color: var(--primary-color);
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* NAVBAR */
.logo img {
  width: 30px;
  height: 30px;
  cursor: default;
  display: none;
}

#menu-icon {
  font-size: 2.3rem;
  color: var(--bg-color);
  display: none;
}

header {
  top: 20px;
  width: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 3em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  width: auto;
  display: flex;
  align-items: center;
}

.navbar ul li a,
.navbar ul li a:visited {
  width: auto;
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: 0.2s ease;
  text-align: center;
}

.navbar ul li a:hover {
  color: var(--bg-color);
  font-weight: bold;
}

.navbar ul img {
  width: 30px;
  height: 30px;
}

/* HEADER */
#menu-icon {
  font-size: 2.3rem;
  color: var(--bg-color);
  display: none;
}

header {
  top: 20px;
  width: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  padding: 10px 35px;
  background-color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.navbar ul img {
  width: 120px;
  height: auto;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  width: auto;
  display: flex;
  align-items: center;
}

.navbar ul li a,
.navbar ul li a:visited {
  width: auto;
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: 0.2s ease;
  text-align: center;
}

.navbar ul li a:hover {
  color: var(--green-color);
  font-weight: bold;
}

/* HERO */
.hero {
  background: url("../images/bg-hero.png") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero-subtitle {
  font-family: 'Mr Dafoe', cursive;
  font-size: 4rem;
  color: var(--light-green-color);
}

.hero-title {
  font-size: 4.5rem;
  line-height: 1.2;
  color: white;
}

.hero p {
  color: #eaeaea;
  font-size: 1.1rem;
}

.btn-start {
  background-color: var(--light-green-color);
}

/* PROVIDE */
#fitur {
  padding: 0 9em;
  align-items: stretch;
}

.card-fitur {
  background: var(--secondary-green-color);
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.card-fitur:hover {
  transform: translateY(-10px);
}

.card-icon {
  background: var(--green-color);
  color: var(--bg-color);
  width: 55px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  font-size: 20px;
}

.card-fitur h3 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.card-fitur p {
  margin: 5px 0 0;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  max-width: 90%;
}

.card-fitur .arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: transform 0.2s ease;
}

.card-fitur .arrow:hover {
  transform: translate(3px, -3px);
}

.card-middle {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  max-width: 600px;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  padding: 0;

  background: url("../images/bg-provide.png") no-repeat center center/cover;
}

.card-middle .card-title {
  position: relative;
  z-index: 1;
  margin-top: 1em;
  line-height: 50px;
}

.card-middle .card-image {
  display: block;
  width: 80%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

/* Left & Right Cards */
.left-cards,
.right-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.card-fitur-link {
  text-decoration: none;
  color: inherit;
  flex: 1;
  display: flex;
}

.card-fitur-link:hover .card-fitur {
  transform: translateY(-10px);
}

.card-icon {
  background: var(--green-color);
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}

.card-icon i {
  font-size: 28px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 2;
}

.card-icon::after {
  content: "\ebe6";
  font-family: "boxicons";
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}

.card-fitur-link:hover .card-icon i {
  transform: rotate(45deg);
  opacity: 0;
}

.card-fitur-link:hover .card-icon::after {
  transform: translate(-50%, -50%) rotate(360deg);
  opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  #fitur {
    padding: 0 2em;
  }

  .fitur-container {
    flex-direction: column;
    align-items: center;
  }

  .left-cards,
  .right-cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  #fitur {
    padding: 2em 3em;
  }

  .phone-wrapper {
    max-width: 500px;
    padding-top: 10%;
  }

  .phone-content {
    width: 60%;
  }

  .phone-content .phone-video {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #fitur {
    padding: 1em;
  }

  .title {
    font-size: 1.5em;
  }

  .fitur-container {
    gap: 1.5em;
  }

  .phone-wrapper {
    width: 100%;
    padding-bottom: 6%;
  }

  .phone-content {
    width: 60%;
  }

  .card-fitur {
    width: 100%;
    height: auto;
  }

  .card-fitur h3 {
    font-size: 22px;
  }

  .card-fitur p {
    font-size: 16px;
  }

  .card-fitur .arrow {
    top: 20px;
    right: 20px;
  }

  .left-cards,
  .right-cards {
    width: 100%;
  }
}

/* Third Section */
#makan {
  width: 100%;
  height: auto;
}

.kalori {
  font-size: 14px;
}

.card {
  border-radius: 15px;
}

.card:hover {
  border: 2px solid var(--green-color);
}

.marquee-container {
  overflow: hidden;
  position: relative;
}

.marquee {
  display: flex;
  width: max-content;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marqueeOne {
  animation-name: marqueeScrollRight;
}

.marqueeTwo {
  animation-name: marqueeScrollLeft;
}

.marquee-content {
  display: flex;
  gap: 1.5rem;
  flex: 0 0 auto;
  padding-right: 1.5rem;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marqueeScrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeScrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}